#Banner
{
background-image:url("Game_Mad_Man_1.png");
height: 130px;
}
.Tr
{

   box-shadow: 30px 30px rgb(34, 32, 32);
    
}
body
{
    overflow-y: auto;
}
button
{
border-radius: 19px;
border-width: 1px;
background-color:greenyellow ;
height:28px;
width: 85px;
}


#TEM
{
    width: 185px;
    height: 85px;
background-color: rgb(50, 50, 50);
border-radius: 16px;
color: aliceblue;
box-shadow: 20px 20px rgb(29, 29, 29);
}